/* ================================= 
  Base Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 20px auto;
}

nav a {
    text-decoration: none;
    color: initial;
}

.button {
    background-color: black;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 30px;
    box-shadow: 3px 5px 3px 2px #bbb;
    transition: background-color .4s ease-in;
}

.button:hover {
    background-color: red;
}

.portfolio-details-btn,
.portfolio-site-btn {
  color: #fff;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 30px;
  box-shadow: 3px 5px 3px 2px #bbb;
  transition: background-color .4s ease-in;
}

.portfolio-details-btn:hover,
.portfolio-site-btn:hover {
  background-color: blue;
}

.portfolio-details-btn {
  background-color: red;
}

.portfolio-site-btn {
  background-color: purple; 
}

#portfolio h2,
#about h2,
#contact h2 {
    text-align: center;
}

/* ================================= 
  Layout Styles
==================================== */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#welcome {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

#welcome img {
    width: 40%;
}

.portfolio-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

#portfolio-buttons {
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px auto;
}

.portfolio-card {
    border: 1px solid gray;
    width: 450px;
    height: 240px;
    margin: auto 10px 30px 10px;
}

#about {
    width: 60%;
    margin: 0 auto;
}

.skill-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.skill-card {
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    border: 4px solid #ccc;
    border-radius: 6px;
}

#contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer {
    margin: 0 auto;
    text-align: center;
}

/* ================================= 
  Bar Styles
==================================== */
.bar {
    background-color: lightgray;
    border-radius: 20px;
    width: 350px;
    display: block;
    margin: auto;
  }
  
  .bar-skill{
    background-color: #ff9904;
    height: 24px;
    border-radius: 20px;
  }
  
  .bar p {
    padding-left: 10px;
    color: white;
  }
  
  /* UI/UX Skill Bars */
  
  .bar-mockups {
    width: 100%;
  }
  .bar-usability-tests {
    width: 85%;
  
  }
  .bar-personas {
    width: 70%;
  
  }
  .bar-journey-maps {
    width: 70%;
  }
  
  /* Programming Skill Bars */
  .bar-html {
    width: 100%;
  }
  .bar-css {
    width: 100%;
  }
  .bar-javascript {
    width: 75%;
  }
  .bar-bootstrap {
    width: 65%;
  }
  
  .bar p {
    padding-left: 10px;
    color: white;
    line-height: 1.5rem;
  }

  /* ================================= 
  DIY Scrollspy Animation Styles
==================================== */

.fade-in {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in.is-visible {
  opacity: 1;
  visibility: visible;
}